* {
  background-color: rgb(235, 235, 197);
}
.App {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.App button {
  width: 130px;
  margin: 10px auto;
  padding: 5px;
  background-color: honeydew;
  border-radius: 5px;
  transition: ease-out 0.4s;
}
.App button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App h3 {
  background-color: honeydew;
  color: teal;
  font-size: 15px;
}

.profile {
  display: flex;
  background-color: honeydew;
  margin: 10px 200px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.txt {
  margin: 40px 30px;
  padding: 10px;
  background-color: honeydew;
}
.txt h3,
.txt h5,
.txt h4 {
  background-color: honeydew;
}
.profile img {
  width: 420px;
  margin: 15px;
  background-color: honeydew;
  border-radius: 7px;
}
.timer {
  margin: auto;
  color: teal;
}
